/* Zewnętrzny arkusz styli o nazwie zadanie59_dzioba.css */
A {
	font-size: 18pt;
	text-decoration: none;
}

A:link {
	color: blue;
}

A:visited {
	color: green;
}

A:hover {
	color: red;
	text-decoration: underline;
}
/* Komentarze wyjaśniające właściwości */
/* text-decoration: none; - usuwa dekorację tekstu, czyli podkreślenie, przekreślenie lub migotanie */
/* text-decoration: underline; - dodaje podkreślenie pod tekstem */
